<!DOCTYPE html>
<html>
    <head>
        <title>Eberron Random Character Generator</title>
        <link rel="stylesheet" media="all" href="/style.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <h1>Eberron Random Character Generator</h1>
        <form action="/generate" method="POST">
            <label for="area">What area are these characters from?</label>
            <select id="area" name="area">
                <% areas.forEach(area => { %>
                <option><%= area %></option>
                <% }) %>
            </select>
            <fieldset class="togglable">
                <legend>What cultures could these characters come from?</legend>
                <ul class="many-options">
                    <% cultures.forEach(culture => { %>
                    <li>
                        <input type="checkbox" name="culture" value="<%= culture.name %>" id="<%= culture.id %>" checked>
                        <label for="<%= culture.id %>"><%= culture.name %></label>
                    </li>
                    <% }) %>
                </ul>
            </fieldset>
            <fieldset class="togglable">
                <legend>Which races could these characters belong to?</legend>
                <ul class="many-options">
                    <% races.forEach(race => { %>
                    <li>
                        <input type="checkbox" name="race" value="<%= race.name %>" id="<%= race.id %>" checked>
                        <label for="<%= race.id %>"><%= race.name %></label>
                    </li>
                    <% }) %>
                </ul>
            </fieldset>
            <fieldset class="togglable">
                <legend>Which faiths might these characters follow?</legend>
                <ul class="many-options">
                    <% religions.forEach(religion => { %>
                    <li>
                        <input type="checkbox" name="religion" value="<%= religion.name %>" id="<%= religion.id %>" checked>
                        <label for="<%= religion.id %>"><%= religion.name %></label>
                    </li>
                    <% }) %>
                </ul>
            </fieldset>
            <fieldset>
                <legend>Which genders might these characters have?</legend>
                <ul class="many-options">
                    <li>
                        <input type="checkbox" name="gender" value="Female" id="gender-female" checked>
                        <label for="gender-female">Female</label>
                    </li>
                    <li>
                        <input type="checkbox" name="gender" value="Male" id="gender-male" checked>
                        <label for="gender-male">Male</label>
                    </li>
                    <li>
                        <input type="checkbox" name="gender" value="Non-binary" id="gender-nb" checked>
                        <label for="gender-nb">Non-binary</label>
                    </li>
                    <li>
                        <input type="checkbox" name="gender" value="Genderfluid" id="gender-fluid" checked>
                        <label for="gender-fluid">Genderfluid</label>
                    </li>
                    <li>
                        <input type="checkbox" name="gender" value="Agender" id="gender-a" checked>
                        <label for="gender-a">Agender</label>
                    </li>
                </ul>
            </fieldset>
            <fieldset>
                <legend>What alignments might these characters have?</legend>
                <table class="alignment">
                    <tr>
                        <td>
                            <input type="checkbox" name="alignment" value="LG" id="alignment-lg" checked>
                            <label for="alignment-lg">LG</label>
                        </td>
                        <td>
                            <input type="checkbox" name="alignment" value="NG" id="alignment-ng" checked>
                            <label for="alignment-ng">NG</label>
                        </td>
                        <td>
                            <input type="checkbox" name="alignment" value="CG" id="alignment-cg" checked>
                            <label for="alignment-cg">CG</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" name="alignment" value="LN" id="alignment-ln" checked>
                            <label for="alignment-ln">LN</label>
                        </td>
                        <td>
                            <input type="checkbox" name="alignment" value="N" id="alignment-n" checked>
                            <label for="alignment-n">N</label>
                        </td>
                        <td>
                            <input type="checkbox" name="alignment" value="CN" id="alignment-cn" checked>
                            <label for="alignment-cn">CN</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" name="alignment" value="LE" id="alignment-le" checked>
                            <label for="alignment-le">LE</label>
                        </td>
                        <td>
                            <input type="checkbox" name="alignment" value="NE" id="alignment-ne" checked>
                            <label for="alignment-ne">NE</label>
                        </td>
                        <td>
                            <input type="checkbox" name="alignment" value="CE" id="alignment-ce" checked>
                            <label for="alignment-ce">CE</label>
                        </td>
                    </tr>
                </table>
            </fieldset>
            <br />
            <label for="num">How many characters would you like to generate?</label>
            <input type="number" min="1" max="100" value="1" name="num" id="num" />
            <button class="generate">Generate Characters</button>
        </form>
        <script type="text/javascript" src="client.js"></script>
    </body>
</html>