<!DOCTYPE html>
<html>
    <head>
        <title>Eberron Random Character Generator</title>
        <link rel="stylesheet" media="all" href="/style.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <h1>Eberron Random Character Generator</h1>
        <label for="area">What area are these characters from?</label>
        <select id="area" name="area">
            <% areas.forEach(area => { %>
            <option><%= area %></option>
            <% }) %>
        </select>
        <fieldset>
            <legend>What cultures could these characters come from?</legend>
            <ul class="many-options">
                <% cultures.forEach(culture => { %>
                <li>
                    <input type="checkbox" name="culture" value="<%= culture.name %>" id="<%= culture.id %>" checked>
                    <label for="<%= culture.id %>"><%= culture.name %></label>
                </li>
                <% }) %>
            </ul>
        </fieldset>
        <fieldset>
            <legend>Which races could these characters belong to?</legend>
            <ul class="many-options">
                <% races.forEach(race => { %>
                <li>
                    <input type="checkbox" name="race" value="<%= race.name %>" id="<%= race.id %>" checked>
                    <label for="<%= race.id %>"><%= race.name %></label>
                </li>
                <% }) %>
            </ul>
        </fieldset>
    </body>
</html>